@page
@model BAIST3150ASPNETCoreEmpty.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Index</title>         
    </head>
    <body>
        Index Razor Page
    </body>
</html>
