body {
}
header{
    background-color: deepskyblue;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0%;
    bottom: 10%;
}
nav {
    background-color: skyblue;
    width: 100%;
    height: 5%;
    position: fixed;
    top: 10%;
    bottom: 15%;
}
main {
    background-color: lightblue;
    width: 100%;
    height: 75%;
    position: fixed;
    top: 15%;
    bottom: 90%;
}
 footer {
    background-color: dodgerblue;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 90%;
    bottom: 100%;
}