@page
@model BAIS3150_UI_Razor_Pages_Assignment.Pages.emallo1WelcomeModel
@{
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="en-ca" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome Page</title>
    </head>
    <body>
    <h1>Welcome!</h1>
        <table>
            <tr>
                <td>
                    <p style="color:blue" >
                        <a href="emallo1SignOn">I am an existing student</a>  <br />
                        <a href="emallo1Student">I am a new student</a>  <br />
                        <br />
                    </p>
                </td>

        </tr>

            <tr>
                <td>
                    <ul>
                        <li>If <u>I am an existing student is clicked</u>, navigate to Sign On page</li>
                        <li>If <u>II am a new student is clicked</u>, navigate to New Student page</li>
                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>