@page
@model BAIS3150CodeSampleSystem.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome";
}
@section scriptContent
    {
    <script type="text/javascript">
        //No script for Welcome page
    </script>
}

@section headerContent
    {
    <table>
        <tr>
            <td > 
                <div style="align-items:center">
                    <h1>Welcome!</h1>
                </div>
            </td>

        </tr>
    </table>
}


    <body>
        <table>
            
            <tr>
                <p style="color:blue" >
                    <a href="https://localhost:44366/emallo1SignOn">I am an existing student</a> <br />
                    <a href="https://localhost:44366/emallo1Student"> I am a new student</a> <br />
            </p>
            </tr>
            <br />       <br />
            <ul>
                <li>If <u>I am an existing student</u> is clicked, navigate to Sign On page</li>
                <li> If <u>I am a new student</u> is clicked, navigate to New Student page</li>
            </ul>
        </table>           

    </body>


