@page
@model ErrorPageModel
@{
    ViewData["Title"] = "BAIS3150 Code Sample";
}


<div>

    <br />
    <br />
    <br />
    <h1>Please contact the system administrator.</h1>
</div>

@section headerContent
    {
    <h1>Enroll Student</h1>
}

