@page
@model emallo1BAIS3150CodeSample.Pages.IndexModel
@{
    ViewData["Title"] = "BAIS3150 Code Sample";
}
@section scriptContent
    {
    <script></script>
    }

@section headerContent
    {
    <table>
        <tr><td><h1>BAIS3150 Code Sample.......</h1></td><td><h3>[Home Page]</h3></td></tr>
    </table>
}
