@page
@model B3110SQLInjectionProjectASPNETCoreFinal.Pages.IndexModel
@{
}
@section scriptContent
    {
    <script></script>
    }

@section headerContent
    {
    <table>
        <tr><td><h1>SQLInjection project........</h1></td><td><h3>[Home Page]</h3></td></tr>
    </table>
}
